# Site wide configuration

title:            
locale:           en_US
url:


# Jekyll configuration

permalink:   /:categories/:title/
markdown:    kramdown
highlighter: pygments
sass:
  sass_dir: _sass
  style: compressed
gems:
  - jekyll-sitemap

kramdown:
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  use_coderay: false


# Site owner
owner:
  name: Satwik Kottur
  avatar: bio-photo-1.jpg
  bio: "Graduate student<br/>ECE Department&#13;&#10;Carnegie Mellon University&#13;&#10;Pittsburgh, PA"
  email: satwik27@gmail.com
  disqus-shortname:
  twitter: #username
  facebook: satwik27 #username
  google:
    plus: 114354609186386046762 #username
    analytics:
    verify:
    ad-client:
    ad-slot:
  bing-verify:
  github: satwikkottur
  stackoverflow: #123456/username   from a "http://stackoverflow.com/users/123456/username" link
  linkedin: satwik-kottur-6898b634 #username
  xing: #username
  instagram: #username
  lastfm: #username
  tumblr: #username
  pinterest: #username
  foursquare: #username
  steam: #username
  dribbble: #username
  youtube: #username
  soundcloud: #username
  weibo: #username
  flickr: #username
  codepen: #username

include: [".htaccess"]
exclude: ["lib", "config.rb", "Capfile", "config", "log", "Rakefile", "Rakefile.rb", "tmp", "less", "*.sublime-project", "*.sublime-workspace", "test", "spec", "Gruntfile.js", "package.json", "node_modules", "Gemfile", "Gemfile.lock", "LICENSE", "README.md"]
