{% if page.author %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person">
  <h3 itemprop="name">Authors</h3>
  <h4 itemprop="name">Satwik Kottur
  {% if author.email %}<a href="mailto:{{ author.email }}" class="author-social" target="_blank"><i class="fa fa-fw fa-envelope-square"></i> Email</a>{% endif %}</h4>
  <h4 itemprop="name">Ramakrishna Vedantam</h4>
  <h4 itemprop="name">Jos&eacute; M.F. Moura</h4>
  <h4 itemprop="name">Devi Parikh</h4>

</div>
